body {
    background-color: #212124;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #E6E8Eb;
}

h1 {
    font-size: 45pt;
    font-weight: 400;
    text-align: center;
}

h2 {
    font-size: 28pt;
    font-weight: 100;
    text-align: center;
}

.container {
    text-align: center;
}

button {
    width: 200px;
    padding: 2%;
    margin-top: 5%;
    font-size: 18pt;
    font-weight: 400;
}

button:hover {
    font-weight: 700;
    text-decoration: underline;
}

.center {
    margin-left: 10%;
    margin-right: 10%;
}